@charset 'utf-8';


header {
    top: 0;
    position: sticky;
    z-index: 9999;
    .container {
        height: 16vw;
        background-color: #fff;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 18px;
        border-bottom: 0.5vw solid #fdbd3a;
        .logo_a {
            width: 45vw;
            height: 9vw;
            font-size: 0;
            img {
                display: block;
                width: 100%;
            }
        }
        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 7vw;
            height: 6vw;
            cursor: pointer;
            .line {
                width: 100%;
                height: 0.8vw;
                background-color: #fdbd3a;
            }
        }
    }
}

.mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    &.on {
        visibility: visible;
        .nav_wrap {
            right: 0;
        }
    }
    .nav_wrap {
        position: absolute;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #fdbd3a;
        color: #fff;
        transition: 0.5s;
        overflow-y: scroll;
        .mobile_nav_header {
            height: 16vw;
            color: #222;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            position: sticky;
            padding: 0 20px;
            top: 0;
            z-index: 999;
            .logo_a {
                width: 45vw;
                height: 9vw;
                font-size: 0;
                // background: url('/wn-official-mobile/src/img/logo/logo_fix_02.png') no-repeat center / cover;
            }
            .close_wrap {
                position: relative;
                width: 7vw;
                height: 7vw;
                cursor: pointer;
                .line {
                    position: absolute;
                    width: 100%;
                    height: 0.8vw;
                    top: 3vw;
                    background-color: #fff;
                    &:nth-child(1) {
                        transform: rotate(135deg);
                    }
                    &:nth-child(2) {
                        transform: rotate(-135deg);
                    }
                }
            }
        }
        .mobile_nav_wrap {
            position: relative;
            padding: 9vw 0 9vw 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            .mobile_dep1_ul {
                text-align: center;
                .mobile_dep1_li {
                    margin-bottom: 6vw;
                    a {
                        font-size: 5vw;
                        font-weight: 700;
                    }
                }
            }
            .mobile_tel {
                text-align: center;
                font-size: 5vw;
                font-weight: 700;
                i {
                    line-height: inherit;
                    font-size: 4vw;
                }
            }
            .mobile_sns_dep1_ul {
                margin-top: 6vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .mobile_sns_dep1_li {
                    width: 11vw;
                    margin-right: 6vw;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        display: block;
                        width: 100%;
                    }
                }
               
            }
            .goto_pcweb_wrap {
                margin-top: 12vw;
                display: flex;
                // flex-direction: row;
                justify-content: center;
                align-items: center;
                a {
                    color: #444;
                    font-weight: 700;
                    text-align: center;
                    font-size: 4vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // font-weight: 700;
                    img {
                        margin-right: 3vw;
                        width: 8vw;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
    }
}