@charset 'utf-8';


header {
    top: 0;
    position: sticky;
    .container {
        height: 16vw;
        background-color: #fff;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 18px;
        border-bottom: 0.5vw solid #fdb53d;
        .logo_a {
            width: 45vw;
            height: 9vw;
            font-size: 0;
            background: url('/wn-official-mobile/src/img/logo/logo_fix_02.png') no-repeat center / cover;
        }
        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 7vw;
            height: 6vw;
            cursor: pointer;
            .line {
                width: 100%;
                height: 0.8vw;
                background-color: #fdb53d;
            }
        }
    }
}

.mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 2;
    visibility: hidden;
    &.on {
        visibility: visible;
        .nav_wrap {
            right: 0;
        }
    }
    .nav_wrap {
        position: absolute;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #fdb53d;
        color: #fff;
        transition: 0.5s;
        overflow-y: scroll;
        .mobile_nav_header {
            height: 16vw;
            color: #222;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            position: sticky;
            padding: 0 20px;
            top: 0;
            z-index: 999;
            .logo_a {
                width: 45vw;
                height: 9vw;
                font-size: 0;
                background: url('/wn-official-mobile/src/img/logo/logo_fix_02.png') no-repeat center / cover;
            }
            .close_wrap {
                position: relative;
                width: 7vw;
                height: 7vw;
                cursor: pointer;
                .line {
                    position: absolute;
                    width: 100%;
                    height: 0.8vw;
                    top: 3vw;
                    background-color: #fff;
                    &:nth-child(1) {
                        transform: rotate(135deg);
                    }
                    &:nth-child(2) {
                        transform: rotate(-135deg);
                    }
                }
            }
        }
        .mobile_nav_wrap {
            padding: 9vw 0 9vw 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            .mobile_dep1_ul {
                text-align: center;
                .mobile_dep1_li {
                    margin-bottom: 6vw;
                    a {
                        font-size: 1.500em;
                        font-weight: 700;
                    }
                }
            }
            .mobile_tel {
                text-align: center;
                font-size: 1.250em;
                font-weight: 700;
            }
        }
    }
}