@charset 'utf-8';

section {
    display: block;
}

.visual_section {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        display: block;
    }
}

.brand_section {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        width: 100%;
        display: block;
    }
    .brand_text_wrap {
        .title {
            font-family: 'S-CoreDream-6Bold';
            font-size: 7vw;
            font-weight: 700;
        }
        .desc {
            font-family: 'S-CoreDream-6Bold';
            padding-left: 1%;
            font-size: 5vw;
            font-weight: 700;
        }
        .point_text {
            font-family: 'NEXON Lv1 Gothic OTF';
            margin-top: 6%;
            margin-bottom: 6%;
            line-height: 1.7;
            font-size: 4.2vw;
        }
        .info_text {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 4.2vw;
            span {
                color: #fdb53d;
            }
        }
    }
    .brand_info_text_wrap {
        .title {
            font-family: 'S-CoreDream-6Bold';
            font-size: 5.5vw;
            font-weight: 700;
            margin-bottom: 5%;
        }
        .desc {
            font-family: 'NEXON Lv1 Gothic OTF';
            line-height: 1.5;
            font-size: 4.2vw;
        }
    }
}
.menu_section {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
        font-family: 'S-CoreDream-6Bold';
        font-size: 7vw;
        font-weight: 700;
        color: #fdb53d;
        margin-bottom: 5%;
    }
    .menu_dep_wrap {
        .dep1_ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 4.1vw;
            .dep1_item {
                margin-left: 2vw;
                margin-right: 2vw;
                a {
                    position: relative;
                    span {
                        top: 120%;
                        left: 0.2vw;
                        position: absolute;
                        background: #fff;
                        width: 100%;
                        height: 0.5vw;
                        transform: scale(0, 1);
                        transition: 0.5s all ease;
                    }
                    &:hover {
                        color: #fdbd3a;
                        font-weight: 700;
                        span {
                            transform: scale(1, 1);
                            transition: 0.5s all ease;
                            display: block;
                            width: 100%;
                            background-color: #fdbd3a;
                        }
                    }
                }
            }
        }
    }
    .item_wrap {
        margin-top: 6%;
        width: 100%;
        .item {
            margin-left: 20%;
            margin-right: 20%;
            border: 1px solid #222;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img_wrap {
                img {
                    display: block;
                    width: 100%;
                }
            }
            .text_wrap {
                margin-top: 6%;
                margin-bottom: 6%;
                font-family: 'NEXON Lv1 Gothic OTF';
                font-size: 4.2vw;
            }
        }
    }
}


.affiliateinquiry_section {
    padding: 22.6666vw 0 44vw;
    position: relative;
    z-index: 1;
    text-align: center;
    .affiliateinquiry_title_wrap {
        margin-bottom: 9.3333vw;
        .title {
            font-size: 7vw;
            font-weight: 700;
        }
        .desc {
            font-size: 3.7333vw;
        }
    }
    .affiliateinquiry_input_wrap {
        width: 100%;
        margin: 0;
        .from_wrap {
            width: 85.3333vw;
            margin: 0 auto 0;
            background-color: #fef5f0;
            height: 80vh;
        }
    }
}