@charset 'utf-8';

section {
    display: block;
}

.affiliateinquiry_section {
    padding: 22.6666vw 0 44vw;
    position: relative;
    z-index: 1;
    text-align: center;
    .affiliateinquiry_title_wrap {
        margin-bottom: 9.3333vw;
        .title {
            font-size: 7vw;
            font-weight: 700;
        }
        .desc {
            font-size: 3.7333vw;
        }
    }
    .affiliateinquiry_input_wrap {
        width: 100%;
        margin: 0;
        .from_wrap {
            width: 85.3333vw;
            margin: 0 auto 0;
            background-color: #fef5f0;
            height: 80vh;
        }
    }
}