@charset 'utf-8';

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    .smartstor_section {
        width: 100%;
        background-color: #fff5a3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4vw;
        padding-bottom: 10vw;
        .img_Wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 77vw;
                height: 77vw;
                display: block;
            }
        }
        .text_wrap {
            // margin-left: 15vw;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-content: center;
            .title_text {
                font-family: 'S-CoreDream-3Light';
                font-size: 3vw;
            }
            .bold_text {
                font-family: 'S-CoreDream-6Bold';
                margin: 5vw 0;
                font-weight: 700;
                line-height: 1.1;
                font-size: 5.5vw;
                span {
                    // line-height: 1.4;
                    text-decoration:underline
                }
            }
            .info {
                font-family: 'S-CoreDream-3Light';
                line-height: 1.6;
                font-size: 3.5vw;
                font-weight: 600;
                margin-bottom: 6vw;
            }
            .hashtag {
                font-family: 'S-CoreDream-3Light';
                font-size: 3.5vw;
            }
        }
    }
    
    .stormap_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 12vw;
        margin-bottom: 12vw;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5vw;
            .title {
                font-size: 6vw;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 4vw;
                font-weight: 500;
            }
        }
        .img_map_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 88vw;
                border: 1px solid #ccc;
            }
        }
        .info_wrap {
            margin-top: 4vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: auto;
            .img_wrap {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                img {
                    width: 88vw;
                    display: block;
                }
            }
            .info_1 {
                position: absolute;
                font-family: 'S-CoreDream-3Light';
                // font-weight: 600;
                top: 10vw;
                left: 19vw;
                font-size: 4.5vw;
            }
            span {
                position: absolute;
                height: 0.5vw;
                width: 9vw;
                top: 35vw;
                left: 50vw;
                background-color: #fdbd3a;
                transform: translate(-50%, -50%);
            }
            .info_2 {
                position: absolute;
                font-family: 'S-CoreDream-6Bold';
                // font-weight: 700;
                font-size: 5vw;
                top: 40vw;
                left: 18vw;
            }
            .sns_dep1_ul {
                position: absolute;
                top: 55vw;
                left: 22vw;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 50vw;
                li {
                    margin-left: 5vw;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                
            }
        }
    }
    
    .experience_section {
        img {
            width: 100%;
            display: block;
        }
    }
    
    .interior_section {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 4vw;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5vw;
            .title {
                font-size: 6vw;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 3.3vw;
                font-weight: 500;
            }
        }
        .market_img_wrap {
            position: relative;
            margin-top: 3vw;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            .market_img_items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90vw;
                transition: 0.5s;
                // margin: 0 4vw;
                overflow: hidden;
                .item {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    // border-radius: 6vw;
                    background: #fff;
                    justify-content: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 100%;
                        border-radius: 5%;
                        // object-fit: cover;
                    }  
                }
            }
    
            .circleL_icon {
                display: block;
                width: 8vw;
                height: 8vw;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 6%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 6vw;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .circleR_icon {
                display: block;
                width: 8vw;
                height: 8vw;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: 6%;
                transform: translate(50%, -50%);
                background-color: #fff;
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 6vw;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    
    .smartdevice_section {
        margin-top: 18vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5vw;
            .title {
                font-size: 6vw;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 4vw;
                font-weight: 500;
            }
        }
        .smart_img_wrap {
            position: relative;
            margin-top: 3vw;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            .smart_img_items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                transition: 0.5s;
                overflow: visible;
                .swiper-slide{
                    opacity:0.4; 
                    transition:opacity 0.3s;
                }
                .swiper-slide-next, .swiper-slide-prev {
                    opacity:0.4 !important; 
                    transition:opacity 0.3s !important;
                }
                .swiper-slide-active{
                    opacity:1
                }
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .item_view {
                        width: 100%;
                        padding: 3.2% 2.8% 2.8%;
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        // border-radius: 6%;
                        overflow: hidden;
                        .img_wrap {
                            width: 100%;
                            img {
                                width: 100%;
                                display: block;
                                border-radius: 5vw;
                            }
                        }
                        .text_wrap {
                            margin-top: 8%;
                            margin-bottom: 6%;
                            .title {
                                font-size: 4.3vw;
                                font-weight: 700;
                            }
                            .desc {
                                font-size: 3.5vw;
                                margin-top: 8%;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
    .drawing_section {
        margin-top: 14vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .drawing_img_wrap {
            margin-bottom: 14vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 90vw;
            }
        }
        .line_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                height: 0.8vw;
                width: 88vw;
                background-color: rgb(231, 231, 231);
            }
        }
        
        .drawing_info_wrap {
            margin-top: 7vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: block;
                width: 85vw;
            }
        }
    }
    .smart_affiliateinquiry_section {
        padding: 20vw 0 11vw;
        position: relative;
        z-index: 1;
        text-align: center;
        .affiliateinquiry_title_wrap {
            margin-bottom: 9.3333vw;
            .title {
                font-size: 7vw;
                font-weight: 700;
                margin-bottom: 4%;
            }
            .desc {
                font-size: 4vw;
            }
        }
        .affiliateinquiry_input_wrap {
            width: 100%;
            margin: 0;
            .from_wrap {
                width: 85.3333vw;
                margin: 0 auto 0;
                background-color: #fef5f0;
                .affiliateinquiry_form {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding-left: 5%;
                    padding-right: 5%;
                    padding-top: 10%;
                    padding-bottom: 10%;
                    font-size: 4vw;
                    .name_wrap {
                        padding-top: 4%;
                        padding-bottom: 4%;
                        p {
                            padding-bottom: 2%;
                        }
                        input {
                            width: 90%;
                            height: 8vw;
                            padding: 0 10px;
                        }
                    }
                    .tel_wrap {
                        padding-top: 4%;
                        padding-bottom: 4%;
                        p {
                            padding-bottom: 2%;
                        }
                        input {
                            width: 24%;
                            height: 8vw;
                            padding: 0 10px;
                        }
                    }
                    .hopearea_wrap {
                        padding-top: 4%;
                        padding-bottom: 4%;
                        p {
                            padding-bottom: 2%;
                        }
                        input {
                            width: 90%;
                            height: 8vw;
                            padding: 0 10px;
                        }
                    }
                    .question_wrap {
                        padding-top: 4%;
                        // padding-bottom: 4%;
                        p {
                            padding-bottom: 2%;
                        }
                    }
                    .division_chekbox_wrap {
                        padding-top: 4%;
                        padding-bottom: 4%;
                        .check_box_title {
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            height: auto;
                            display: flex;
                            align-items: center;
                            background-color: #fdbd3a;
                            color: #fff;
                            .title {
                                padding-top: 2vw;
                                padding-bottom: 2vw;
                                padding-left: 2vw;
                            }
                        }
                       
                        .chekbox_wrap {
                            padding-top: 4vw;
                            padding-bottom: 4vw;
                            padding-left: 4vw;
                            display: flex;
                            flex-direction: column;
                            justify-content: right;
                            background-color: #fff;
                            label {
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                            }
                        }

                    }

                    .hopeprogram_chekbox_wrap {
                        padding-top: 4%;
                        padding-bottom: 4%;
                        .check_box_title {
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            height: auto;
                            display: flex;
                            align-items: center;
                            background-color: #fdbd3a;
                            color: #fff;
                            .title {
                                padding-top: 2vw;
                                padding-bottom: 2vw;
                                padding-left: 2vw;
                            }
                        }
                        
                        .chekbox_wrap {
                            padding-top: 4vw;
                            padding-bottom: 4vw;
                            padding-left: 4vw;
                            display: flex;
                            flex-direction: column;
                            justify-content: right;
                            background-color: #fff;
                            label {
                                padding-top: 1vw;
                                padding-bottom: 1vw;
                            }
                        }
                    }

                    .checkbox_btn_wrap {
                        margin-top: 2%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .container {
                            display: block;
                            position: relative;
                            padding-left: 9vw;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 4vw;
                        }  
                        /* Hide the browser's default checkbox */
                        .container input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }  
                        /* Create a custom checkbox */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 6vw;
                            width: 6vw;
                            background-color: #fff;
                        }  
                        /* On mouse-over, add a grey background color */
                        .container:hover input ~ .checkmark {
                            background-color: #ccc;
                        }
                        /* When the checkbox is checked, add a "red" background */
                        .container input:checked ~ .checkmark {
                            background-color: #fdbd3a;
                        }
                        /* Create the checkmark/indicator (hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }  
                        /* Show the checkmark when checked */
                        .container input:checked ~ .checkmark:after {
                            display: block;
                        }
                        /* Style the checkmark/indicator */
                        .container .checkmark:after {
                            left: 2vw;
                            top: 0.5vw;
                            width: 1vw;
                            height: 3vw;
                            border: solid white;
                            border-width: 0 1vw 1vw 0;
                            transform: rotate(45deg);
                        }
                        button {
                            margin-top: 6%;
                            border: 1px solid #ccc;
                            width: 25vw;
                            height: 10vw;
                            font-size: 4vw;
                            font-weight: 700;
                            border-radius: 50px;
                            color: #fff;
                            background-color: #fdbd3a;
                        }
                    }
                }
            }
        }
    }
    
}
